
data/*

*.pyc

.idea/*

.idea/vcs.xml

test_data/soc-Epinions1.txt

test_data/soc-Slashdot0811.txt

nohup.out

test_data/soc-LiveJournal1.txt

test_data/twitter_combined.txt

test_data/com-youtube.ungraph.txt

test_data/facebook_combined.txt

logfile
